@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --page-width: 816px;
  --page-margins: 24px;
  --left-width: calc(var(--page-width)/3 - 2*var(--page-margins));
}

body {
  color: black;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

header {
  color: white;
  background-color: #363636;
  text-shadow: 1px 1px 2px rgb(0 0 0);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  padding: 32px 0px;
  margin-bottom: 24px;
}

header h1 {
  margin: 0px;
  font-size: 48px;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #707070;
  height: min-content;
}

.cv {
  background-color: #eeeeee;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: var(--page-width);
  margin: 0 auto 20px;
  align-content: start;
}

.General {
  grid-column: 1 / 3;
  background-color: #284b68;
}

.General:hover .Content .edit-general {
  display: block;
}

.General .Content {
  color: white;
  align-items: center;
  position: relative;
}

.General .Content h1 {
  font-size: 44px;
  text-align: center;
  margin: 32px 16px 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.General .Content h2 {
  font-size: 24px;
  text-align: center;
  margin: 0px 8px 16px;
  font-weight: 300;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  margin-bottom: 12px;
}

.contact-info div span {
  font-weight: 700;
  text-transform: uppercase;
}

.general-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.general-form form label {
  color: white;
  text-transform: uppercase;
}

form input,
textarea {
  padding: 6px 8px;
  border: 1px solid #9b9b9b;
  border-radius: 4px;
  margin-bottom: 8px;
}

form input:hover,
textarea:hover {
  background-color: #f5f5f5;
  border-color: #000000;
}

.edit-general {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 24px;
  margin-top: 16px;
}

button {
  padding: 4px 16px;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #434343;
  cursor: pointer;
}

button:hover {
  background-color: rgb(204, 202, 202);
  border: 1px solid #222222;
}

.cv div h1 {
  border-bottom: 1px solid #284b68;
}

h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0px;
}

h2 {
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding-inline-start: initial;
}

label {
  text-transform: uppercase;
}



.Education {
  background-color: #dddddd;
  position: relative;
  padding: 24px;
  max-width: var(--left-width);
}

.Education:hover .add-Education {
  display: block;
}

.add-Education {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 24px;
  margin-top: 24px;
}

.school {
  margin: 8px 0px;
}

.degree {
  font-style: italic;
  margin: 8px 0px;
}

.degree-dates {
  margin: 8px 0px;
}

.edu-desc {
  margin-bottom: 24px;
  overflow-wrap: break-word;
}

.education-form form {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
}

.btnGroup {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.btnGroup button {
  padding: 2px 8px;
}

li {
  position: relative;
}

li:hover .btnGroup {
  display: block;
}



.Skills {
  background-color: #dddddd;
  grid-row: 3 / 4;
  position: relative;
  padding: var(--page-margins);
  max-width: var(--left-width);
}

.Skills:hover .add-Skill {
  display: block;
}

.add-Skill {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 24px;
  margin-top: 24px;
}

.skill-form form {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
}



.Experience {
  grid-row: 2 / 4;
  position: relative;
  padding: var(--page-margins);
}

.Experience:hover .add-Exp {
  display: block;
}

.add-Exp {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 24px;
  margin-top: 24px;
}

.company {
  margin: 8px 0px;
}

.title-date {
  display: flex;
  justify-content: space-between;
  margin: 8px 0px;
}

.title {
  font-style: italic;
  margin: 0px;
}

.tasks {
  margin-bottom: 24px;
}

.exp-form form {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
}



.Tasks ul {
  list-style: disc;
  padding-inline-start: 16px;
}

.Tasks ul li {
  margin: 8px 0px;
}

.task-btnGroup {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
}

.task-btnGroup button {
  padding: 2px 8px;
}

.Tasks ul li:hover .task-btnGroup {
  display: block;
}

.add-task {
  padding: 4px 8px;
}

.task-form form {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
}