.App {
  background-color: #eeeeee;
  box-shadow: 0 0 8px 8px rgb(0 0 0 / 20%);
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 1056px;
  margin: 0 auto 20px;
}

.General {
  grid-column: 1 / 3;
  background-color: #284b68;
}

.General:hover .Content .edit-general {
  display: block;
}

.Content {
  color: white;
  align-items: center;
  position: relative;
}

.General .Content h1 {
  font-size: 64px;
  text-align: center;
  margin: 16px;
  text-shadow: 1px 1px 2px rgb(0 0 0);
}

.General .Content h2 {
  font-size: 32px;
  text-align: center;
  margin: 8px;
  text-shadow: 1px 1px 2px rgb(0 0 0);
}

.contact-info {
  display: flex;
  justify-content: space-around;
}

.contact-info div {
  font-size: 1.3rem;
}

.contact-info div span {
  font-weight: 700;
}

.general-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

form label {
  color: white;
}

form input {
  padding: 4px;
}

.edit-general {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 24px;
  margin-top: 18px;
}

button {
  padding: 8px 16px;
  text-transform: uppercase;
}


.Education {
  background-color: #dddddd;
  position: relative;
}

.Education .Content {
  color: black;
}

.Education h1 {
  text-align: center;
}

.Education ul {
  list-style-type: none;
}

.Education:hover .add-Education {
  display: block;
}

.add-Education {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 24px;
  margin-top: 18px;
}

.school {
  margin: 8px 0px;
}

.degree {
  font-style: italic;
  font-size: 0.9em;
  margin: 8px 0px;
}

.degree-dates {
  margin: 8px 0px;
}

.edu-desc {
  margin-bottom: 24px;
}

.education-form form label {
  color: black;
}

.education-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.btnGroup {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 24px;
  margin-top: 18px;
}

li {
  position: relative;
}

li:hover .btnGroup {
  display: block;
}



.Skills {
  background-color: #dddddd;
  grid-row: 3 / 4;
  position: relative;
}

.Skills .Content {
  color: black;
}

.Skills h1 {
  text-align: center;
}

.Skills ul {
  list-style-type: none;
}

.Skills:hover .add-Skill {
  display: block;
}

.add-Skill {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 24px;
  margin-top: 18px;
}

.skill-form form label {
  color: black;
}

.skill-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}



.Experience {
  grid-row: 2 / 4;
  position: relative;
}

.Experience .Content {
  color: black;
}

.Experience h1 {
  text-align: center;
}

.Experience ul {
  list-style-type: none;
}

.Experience:hover .add-Exp {
  display: block;
}

.add-Exp {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 24px;
  margin-top: 18px;
}

.company {
  margin: 8px 0px;
}

.title-date {
  display: flex;
  justify-content: space-between;
  margin: 8px 0px;
  padding-right: 24px;
}

.title {
  font-style: italic;
  font-size: 0.9em;
  margin: 0px;
}

.tasks {
  margin-bottom: 24px;
}

.exp-form form label {
  color: black;
}

.exp-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}



.Tasks ul {
  list-style: disc;
  padding-inline-start: 16px;
}

.Tasks ul li {
  margin: 8px 0px;
}

.task-btnGroup {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 24px;
}

.task-btnGroup button {
  padding: 0px 8px;
}

.Tasks ul li:hover .task-btnGroup {
  display: block;
}

.add-task {
  padding: 4px 8px;
}